<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>3.1_Computation</display-name>
  <welcome-file-list>
    <welcome-file>input.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>ComputationServlet</display-name>
    <servlet-name>ComputationServlet</servlet-name>
    <servlet-class>com.mindtree.servlet.ComputationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComputationServlet</servlet-name>
    <url-pattern>/ComputationServlet</url-pattern>
  </servlet-mapping>
</web-app>